body{
    background: #E5E5E5;
    font-family: 'Roboto';
}

.str{
    font-weight: bold;
}

.header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    z-index: 2;
}

.header .icon{
    width: 42px;
    height: 31px;
    margin-right: 40px;
}

.header .logo{
    width: 75px;
    height: 53px;
}

.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 2;

}

.footer ion-icon{
    font-size: 40px;
    margin-right: 40px;
}

.footer .campo-texto{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    border: none;
    color: #000000;
}

.chat{
    position: fixed;
    top: 80px;
    bottom: 0px;
    margin-bottom: 90px;
    max-width: 100%;
    z-index: 3;
    overflow-x: hidden;
}

.mensagem-status{
    width: 100%;
    overflow-x: hidden ;
    flex-wrap: wrap;

    background: #DCDCDC;
    border: 2px;
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 4px;
    margin-bottom: 4px;

}


.mensagem-publica{
    width: 100%;
    overflow-x: hidden ;
    flex-wrap: wrap;
    background: #FFFFFF;
    border: 2px;
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-top: 4px;
    margin-bottom: 4px;

}

.mensagem-privada{
    width: 100%;
    overflow-x: hidden ;
    flex-wrap: wrap;
    background: #FFDEDE;
    border: 2px;
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-top: 4px;
    margin-bottom: 4px;
}

.time, .message{
    word-wrap: break-word;
}

.time{
    color: #AAAAAA;
}

.message{
    padding-left: 10px;
}

.botao{
    border: none;
    background-color: transparent;
}